# Projeto 1 - Ci√™ncia dos Dados

Nome: Andr√© Faia Vasconcelos Ramos

Nome: Enzo Fonteyne

Aten√ß√£o: Ser√£o permitidos grupos de tr√™s pessoas, mas com uma rubrica mais exigente. Grupos deste tamanho precisar√£o fazer um question√°rio de avalia√ß√£o de trabalho em equipe

___
Carregando algumas bibliotecas:

In [1]:
#Importa√ß√£o das bibliotecas que ser√£o utilizadas
%matplotlib inline
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import os
import re

In [2]:
print('Esperamos trabalhar no diret√≥rio')
print(os.getcwd())

Esperamos trabalhar no diret√≥rio
C:\Users\andre

Carregando a base de dados com os tweets classificados como relevantes e n√£o relevantes:

In [3]:
filename = 'Excel-Samsung.xlsx'

In [4]:
train = pd.read_excel(filename)
train.head(5)

                                         Treinamento  Nota
0  @devilslawyerr_ toda vez q eu entro no tiktok ...     1
1  @amarcosta01 @qgjulietteof @seara_brasil tb am...     0
2  @prodzefyre @luagluiz @brrrb3rry um samsung e ...     3
3  √© humanamente imposs√≠vel comprar uma m√°quina l...     2
4  [magazine luiza] (cliente ouro) carregador por...     1

In [5]:
test = pd.read_excel(filename, sheet_name = 'Teste')
test.head(5)

                                               Teste  Nota
0  @ai_cansado esmola da samsung, ainda n√£o t√¥ pr...   0.0
1  vsf essa propaganda da samsung com a juliettr\...   0.0
2  o bts ainda fez uma propaganda pra samsung no ...   0.0
3  aaaaaaaaaaaaa vem a√≠????? n√£o brinca com meu j...   0.0
4  eu defendia a samsung, mas agr a juliette √© ga...   0.0

___
## Classificador autom√°tico de sentimento

Fa√ßa aqui uma descri√ß√£o do seu produto e o que considerou como relevante ou n√£o relevante na classifica√ß√£o dos tweets.


0 - Irrelevante - Os tweets considerados irrelevantes s√£o aqueles que n√£o fazem men√ß√£o aos produtos da Samsung

1 - Neutro - Os tweets considerados neutros s√£o aqueles que fazem uma men√ß√£o a algum produto da Samsung, por√©m n√£o √© algo significativo. Ex: aaa samsung eu to travada que nem o celular de vcs

2 - Relevante - Os tweets considerados relevantes s√£o aqueles que fazem uma men√ß√£o construtiva a algum produto da Samsung ou alguma funcionalidade que eles apresentam

3 - Muito Relevante - Os tweets considerados muito relevantes s√£o aqueles que fazem uma men√ß√£o construtiva de 2 ou + produtos da Samsumg ou 2 ou + funcionalidades que eles apresentam. Isso inclui venda de produtos com descri√ß√µes detalhadas

___
### Montando um Classificador Naive-Bayes

Considerando apenas as mensagens da planilha Treinamento, ensine  seu classificador.

In [6]:
#Removendo pontua√ß√µes
def limpeza_caracteres_iniciais(tweet):
    caracteres_especiais = '[!-.:?;_,<>/\][)(#%$|\n]' 
    pattern = re.compile(caracteres_especiais)
    substitui√ß√µes = re.sub(pattern,'', tweet)
    return substitui√ß√µes

#Removendo men√ß√µes
def limpeza_men√ß√µes(tweet):
    mencoes = "@[A-Za-z0-9]+"
    pattern = re.compile(mencoes)
    substitui√ß√µes = re.sub(pattern,'',tweet)
    return substitui√ß√µes

train.Treinamento = train.Treinamento.apply(limpeza_caracteres_iniciais)
train.Treinamento = train.Treinamento.apply(limpeza_men√ß√µes)

train

                                           Treinamento  Nota
0     toda vez q eu entro no tiktok ta essa p no an...     1
1       tb amo miga üòçüéµüíúüì±mpn¬† juliettefashion juliet...     0
2       um samsung e um xiaomi de 500 conto n√£o val...     3
3    √© humanamente imposs√≠vel comprar uma m√°quina l...     2
4    magazine luiza cliente ouro carregador port√°ti...     1
..                                                 ...   ...
695  nss a juli finalmente anunciando a parceria de...     0
696    samsung pq demorou tanto espero essa parceri...     0
697    amg se for pouco demais tu leva numa assist√™...     1
698                        n√£o brinca com isso samsung     0
699  cansada de entrar no tiktok e ter a cara da ju...     0

[700 rows x 2 columns]

In [7]:
#Separando os tweets
irrelevante = train.loc[train.Nota == 0, :]
neutro = train.loc[train.Nota == 1, :]
relevante = train.loc[train.Nota == 2, :]
muito_relevante = train.loc[train.Nota == 3, :]

In [8]:
irrelevante

                                           Treinamento  Nota
1       tb amo miga üòçüéµüíúüì±mpn¬† juliettefashion juliet...     0
8       adoraria que o galiotte pegasse os 300 milh...     0
12    ‚úÖcurte ‚úÖcomenta ‚úÖcompatilhar‚úÖsalve a foto da ...     0
14   hoje eu acordei daquele jeitinho do coringa so...     0
16   httpstcooigc3turnh hj foi t√£o bom space da ju ...     0
..                                                 ...   ...
693   oi nesse link eu trago procedimentos para a o...     0
695  nss a juli finalmente anunciando a parceria de...     0
696    samsung pq demorou tanto espero essa parceri...     0
698                        n√£o brinca com isso samsung     0
699  cansada de entrar no tiktok e ter a cara da ju...     0

[264 rows x 2 columns]

In [9]:
relevante

                                           Treinamento  Nota
3    √© humanamente imposs√≠vel comprar uma m√°quina l...     2
6    pucrio apple e samsung abrem capacita√ß√£o em te...     2
11                 nunca falta la promo a samsung lmao     2
13   samsung segue xiaomi e lan√ßa ram virtual em ce...     2
17   compre online eletr√¥nicos e tecnologia encontr...     2
..                                                 ...   ...
669  adicionar relogio na tela inicial do celular s...     2
678  submarino pre√ß√£oüò±‚Äºfone de ouvido samsung galax...     2
686   menino tu me deu uma ideia agora vo baixar no...     2
688   nossa linha j da samsung √© um terror kkkkkobr...     2
692  depois da √∫ltima atualiza√ß√£o do software da sa...     2

[144 rows x 2 columns]

In [10]:
muito_relevante

                                           Treinamento  Nota
2       um samsung e um xiaomi de 500 conto n√£o val...     3
9                        quero eu um samsung desse pow     3
22    essa cam da samsung um lixo dois pixels t√° √≥timo     3
33   samsung √© um p√©ssimo atendimento s√≥ indo pra j...     3
34      eu sinceramente quando joguei no seu cll ac...     3
..                                                 ...   ...
655                  samsung at√© no espa√ßo meus amigos     3
660   algu√©m t√° tendo dificuldade em reproduzir con...     3
661   magalu est√° faltando op√ß√µes de smartwatchs no...     3
676  smartphone samsung galaxy s20 fe 128gb cloud n...     3
694  aten√ß√£o seguidores n√£o comprem de forma alguma...     3

[107 rows x 2 columns]

In [11]:
#Fazendo a contagem das palavras em cada classifica√ß√£o dos tweets
for i,tweet in enumerate(irrelevante.Treinamento):
    tweet = tweet.split()
    if i == 0:
        lista_irrelevante = tweet
    else:
        lista_irrelevante += tweet
    
Irrelevante = pd.Series(lista_irrelevante)
Irrelevante.value_counts()

samsung                 230
a                       131
o                       122
de                      120
da                      120
                       ...
coldplay                  1
email                     1
loccitanealimenta√ß√£o      1
simplesmente              1
tottenham                 1
Length: 1508, dtype: int64

In [12]:
#Fazendo a contagem das palavras em cada classifica√ß√£o dos tweets
for i,tweet in enumerate(relevante.Treinamento):
    tweet = tweet.split()
    if i == 0:
        lista_relevante = tweet
    else:
        lista_relevante += tweet
    
Relevante = pd.Series(lista_relevante)
Relevante.value_counts()

samsung     147
de           81
que          79
o            76
e            76
           ...
a30           1
olhada        1
continuo      1
ganhei        1
chip          1
Length: 1166, dtype: int64

In [13]:
#Fazendo a contagem das palavras em cada classifica√ß√£o dos tweets
for i,tweet in enumerate(muito_relevante.Treinamento):
    tweet = tweet.split()
    if i == 0:
        lista_muito_relevante = tweet
    else:
        lista_muito_relevante += tweet
    
Muito_Relevante = pd.Series(lista_muito_relevante)
Muito_Relevante.value_counts()

samsung        106
e               66
de              58
da              50
a               47
              ...
week             1
64gb             1
fabrica          1
popularizar      1
tentar           1
Length: 1061, dtype: int64

In [14]:
#Juntando todas as palavras e fazendo a contagem delas
palavras = lista_relevante + lista_irrelevante + lista_muito_relevante
serie_palavras = pd.Series(palavras)
serie_palavras.value_counts().head(50)

samsung        483
de             259
a              253
e              235
o              229
da             226
que            204
eu             149
√©              141
um             139
com            136
no             112
n√£o             93
do              90
pra             72
na              67
meu             63
mais            60
celular         59
me              58
q               57
uma             54
em              51
por             50
se              48
juliette        48
tem             48
tiktok          47
os              45
mas             45
s√≥              43
propaganda      40
para            35
essa            35
vai             34
as              32
t√°              32
galaxy          30
iphone          29
pq              29
despertador     28
j√°              27
vou             27
esse            27
muito           25
isso            24
ou              22
agora           21
ela             21
ele             21
dtype: int64

In [15]:
#Eliminando palavras irrelevantes para a classifica√ß√£o
stopwords = ['a','de','e','o','da','que','com','eu','√©','um','no','n√£o','do','na','pra','q','me','uma','em','por']
for palavra in lista_relevante:
    if palavra in stopwords:
        lista_relevante.remove(palavra)
for palavra in lista_irrelevante:
    if palavra in stopwords:
        lista_irrelevante.remove(palavra)
for palavra in lista_muito_relevante:
    if palavra in stopwords:
        lista_muito_relevante.remove(palavra)

In [16]:
#Transforma√ß√£o para pd series e c√°lculo relativo
serie_relevante = pd.Series(lista_relevante)
serie_irrelevante = pd.Series(lista_irrelevante)
serie_muito_relevante = pd.Series(lista_muito_relevante)

tabela_relevante = serie_relevante.value_counts()
tabela_relevante_relativa = serie_relevante.value_counts(True)
tabela_irrelevante = serie_irrelevante.value_counts()
tabela_irrelevante_relativa = serie_irrelevante.value_counts(True)
tabela_muito_relevante = serie_muito_relevante.value_counts()
tabela_muito_relevante_relativa = serie_muito_relevante.value_counts(True)

In [17]:
#C√°lculo de probabilidades individuais
probRel = pd.Series(tabela_relevante_relativa)
probIrel = pd.Series(tabela_irrelevante_relativa)
probMtorel = pd.Series(tabela_muito_relevante_relativa)

In [18]:
#Cria√ß√£o de uma lista geral de palavras
palavras = lista_relevante + lista_irrelevante + lista_muito_relevante

serie_palavras = pd.Series(palavras)
tabela_palavras = serie_palavras.value_counts()
tabela_palavras_relativa = serie_palavras.value_counts(True)

In [19]:
rel = tabela_relevante.sum()/tabela_palavras.sum()
irrel = tabela_irrelevante.sum()/tabela_palavras.sum()
mr = tabela_muito_relevante.sum()/tabela_palavras.sum()

In [20]:
tweet = "@fulano o samsung √© muito bom! acho que os celulares s√£o muito melhores do que os da apple"

In [21]:
tweet.split()

['@fulano',
 'o',
 'samsung',
 '√©',
 'muito',
 'bom!',
 'acho',
 'que',
 'os',
 'celulares',
 's√£o',
 'muito',
 'melhores',
 'do',
 'que',
 'os',
 'da',
 'apple']

In [22]:
#Separa√ß√£o em value counts
tabela_relevante = Relevante.value_counts()
tabela_muito_relevante = Muito_Relevante.value_counts()
tabela_irelevante = Irrelevante.value_counts()

In [23]:
#Fazendo a fun√ß√£o comparadora.
def comparar(texto):
    #Limpando o tweet e separando as palavras individualmente
    texto_limpo = limpeza_men√ß√µes(texto)
    texto_limpo = limpeza_caracteres_iniciais(texto_limpo)
    lista_texto = texto_limpo.split()
            
    P_texto_dado_rel = 1
    P_texto_dado_irrel = 1
    P_texto_dado_mr = 1
    for palavra in lista_texto:
        if palavra not in tabela_relevante:
            P_texto_dado_rel = P_texto_dado_rel/(tabela_relevante.sum() + len(lista_texto))
        else:
            P_texto_dado_rel = P_texto_dado_rel*(tabela_relevante[palavra] + 1)/(tabela_relevante.sum() + len(lista_texto))
        if palavra not in tabela_irrelevante:
            P_texto_dado_irrel = P_texto_dado_irrel/(tabela_irrelevante.sum() + len(lista_texto))
        else:
            P_texto_dado_irrel = P_texto_dado_irrel*(tabela_irrelevante[palavra] + 1)/(tabela_irrelevante.sum() + len(lista_texto))
        if palavra not in tabela_muito_relevante:
            P_texto_dado_mr = P_texto_dado_irrel/(tabela_muito_relevante.sum() + len(lista_texto))
        else:
            P_texto_dado_mr = P_texto_dado_irrel*(tabela_muito_relevante[palavra] + 1)/(tabela_muito_relevante.sum() + len(lista_texto))
    
    print(P_texto_dado_rel)
    #Calculando as probabilidades 
    P_rel_dado_texto = P_texto_dado_rel * rel
    P_irrel_dado_texto = P_texto_dado_irrel * irrel
    P_mr_dado_texto = P_texto_dado_irrel * mr
    #Retornando a classifica√ß√£o do tweet
    if P_rel_dado_texto > P_irrel_dado_texto and P_rel_dado_texto > P_mr_dado_texto:
        return "Relevante"
    if P_irrel_dado_texto > P_rel_dado_texto and P_irrel_dado_texto > P_mr_dado_texto:
        return "Irrelevante"
    if P_mr_dado_texto > P_irrel_dado_texto and P_mr_dado_texto > P_rel_dado_texto:
        return "Muito relevante"

In [24]:
comparar(tweet)

5.5922754985564264e-39

'Relevante'

___
### Verificando a performance do Classificador

Agora voc√™ deve testar o seu classificador com a base de Testes.

In [25]:
test

                                                 Teste  Nota
0    @ai_cansado esmola da samsung, ainda n√£o t√¥ pr...   0.0
1    vsf essa propaganda da samsung com a juliettr\...   0.0
2    o bts ainda fez uma propaganda pra samsung no ...   0.0
3    aaaaaaaaaaaaa vem a√≠????? n√£o brinca com meu j...   0.0
4    eu defendia a samsung, mas agr a juliette √© ga...   0.0
..                                                 ...   ...
295  @mn_rcfx @djtheusdags imagina o psic√≥logico do...   1.0
296  mais de um m√™s sem acesso ao meu aplicativo de...   0.0
297  confira o v√≠deo de samsung brasil! #tiktok htt...   1.0
298    hoje √© sexta, dia de travar mais que a samsung!   0.0
299  pensando aqui se vou de samsung s20 fe ou no m...   2.0

[300 rows x 2 columns]

In [26]:
test = pd.read_excel(filename, sheet_name = 'Teste')
tweets = test.loc[:,'Teste']

test['Nota'] = test['Nota'].astype('category')
test['Nota'].cat.categories = ['Irrelevante', 'Relevante','Neutro','Muito relevante']
test.rename(columns={"Nota":"Real"}, inplace = "True")

In [27]:
#Classifica√ß√£o num√©rica dos tweets
tweets_classificados = []
for linha in tweets:
    tweets_classificados.append(comparar(linha))

2.17783375253927e-32
5.247738854137248e-54
4.8815253837796425e-28
3.246952346547551e-31
1.6915561183811483e-53
1.5809481363360165e-79
1.5181349227609488e-29
8.199226110662366e-35
3.7049624174063065e-71
8.083969669172195e-156
3.506660723328064e-21
8.644661538597069e-114
5.761883208976656e-33
1.0264962084686139e-25
5.336741610902522e-121
3.1834707662993056e-44
2.1966963913664214e-104
5.5775010770172115e-33
2.327796067439442e-136
3.7547632320181667e-53
9.84300621464818e-83
2.5776161877460555e-64
2.74344633060372e-20
3.5987784206575945e-20
6.580066191462405e-36
1.3920707209266882e-21
2.0598230565888665e-31
2.518730903892365e-40
9.365501224852002e-83
3.989581579650367e-62
2.0587792932626067e-113
1.1178045336007488e-10
4.786130484616053e-20
1.1099805283381883e-163
1.275791678879627e-62
5.336741610902522e-121
8.720859870185387e-56
7.017854516796703e-14
6.735151926614715e-38
2.0528979744949127e-62
9.871046238628985e-34
4.782337220219853e-72
4.246166821638044e-07
3.945070768789414e-48
4.041771839000425e-57
2.27954545928496e-90
1.1563082081579458e-36
1.9459006644134476e-88
6.847786870349438e-43
4.19360983234377e-37
2.9056989648506712e-58
5.942261344547124e-17
1.2276004056743106e-48
1.0187018696340988e-105
2.4885763610355795e-35
3.02273162316148e-13
2.1812504850369915e-28
1.829007513045892e-120
8.74769928917579e-76
2.3415417757126113e-145
1.0026341656383862e-60
6.038559003310139e-35
5.623142813595489e-25
5.497523174961742e-45
6.290040871281524e-28
3.556232081114106e-49
3.502745262586451e-38
2.3824073873515164e-90
4.7006912868087044e-29
2.503373918347468e-64
2.827482963248857e-17
1.4352817044399253e-27
1.300032462772511e-92
3.215796542390815e-39
3.810011852456649e-44
1.751812250104927e-52
1.328539402013423e-41
2.812703618762408e-35
2.7902792400482144e-19
7.457408350324054e-34
2.1033896673565416e-25
8.991325042339232e-58
1.1926517021939825e-41
1.7506210127216333e-59
1.0015153304241914e-21
7.360611731156062e-44
4.8180679275845e-70
4.358992467190465e-49
2.1062179430184904e-40
1.9550467310331554e-27
6.116990041534945e-118
3.463415836317388e-31
2.8578053492848278e-25
1.1586917394465962e-29
2.4060836413072378e-35
1.2862170513635402e-43
1.643503530981033e-79
2.63154506716037e-75
1.1704950213874104e-59
2.4721623383368936e-30
2.097586146024978e-48
1.2253203728879453e-35
1.3835456502802948e-59
9.66815328670538e-62
5.994545015970719e-59
3.642944000086582e-48
8.229343439700368e-50
1.069950669366663e-44
1.0718526452366046e-13
9.540620023087048e-36
5.245980795610425e-23
1.7995367384301204e-40
3.512355131165686e-41
1.9659781424524936e-26
4.178122615818691e-41
1.4673466404814412e-94
4.6975249314866446e-18
1.8255742382174997e-117
3.954133372501854e-27
3.9530561215957205e-59
1.5608984365257086e-57
2.4950025455889532e-57
1.8212922237783478e-47
7.873545350070447e-26
4.614591874532074e-37
7.083228512745317e-45
5.741126817759698e-27
1.705349794238683e-26
2.721422350224733e-75
1.2449408341996528e-40
4.2826096089265304e-33
3.885480453421756e-35
2.2539915690590027e-37
2.6723857667763337e-43
7.153193623565476e-96
2.026553152800532e-23
6.545358791660676e-32
1.093376087396671e-17
4.310088732879132e-62
3.0583289698645934e-64
4.313534122450703e-26
4.122452190011357e-43
5.143118427069043e-25
2.122739336119628e-49
8.750416230524453e-37
7.460872762325662e-48
2.170766002268783e-55
1.0318319012049729e-41
1.4696189171888138e-54
2.661779538203889e-18
2.6170077467926276e-88
1.998260245760925e-55
2.8226966709943236e-80
8.916242442717066e-26
6.130644124056065e-29
1.7133821643131705e-103
1.374792453618851e-49
5.435899669679479e-79
3.1934000861623956e-70
1.0964584753176165e-68
1.504457527353327e-35
1.113839357011618e-52
1.094415342827872e-62
1.077174723365341e-22
5.828922712928763e-54
4.449310207348994e-101
6.214816010356086e-64
4.505466159238734e-48
1.1802191414125372e-38
8.137197610400836e-43
8.913392016820684e-20
1.0048618549093168e-16
2.327796067439442e-136
8.702625310091896e-20
6.712898706488281e-60
5.550686362031081e-36
9.633938305687072e-55
2.8867916659270553e-60
1.6610498163132934e-20
8.571954194885537e-30
2.2240630783891373e-58
2.6073808447689564e-29
4.4505701245514435e-101
2.847971384335535e-57
5.760292638317329e-24
6.362017092361263e-44
1.3853468819430004e-69
1.3412201251614087e-82
4.66390177975095e-107
3.7630575696948523e-39
2.740875635982208e-32
2.777666916009494e-17
9.926104258374647e-08
1.4996644594957846e-52
7.40322668284554e-52
7.337932363880336e-90
1.025194939795763e-22
1.6323954700384537e-57
4.719759215161676e-41
7.999290789295043e-90
1.1155535140861908e-10
1.803973004597755e-32
1.4201003259646367e-81
1.4890415939132037e-19
2.0019677048764025e-49
3.088715168156313e-32
1.0360263492201686e-142
2.7905016563098534e-59
8.726702365401083e-37
3.67220659128942e-104
1.0562897230823534e-125
1.7415559962779793e-66
2.4242100446346104e-67
7.109602314580846e-34
1.1874526065940586e-15
6.54613746769216e-101
1.2731313592777726e-127
1.9883436871428423e-78
6.569073714343121e-69
2.51148629905742e-43
3.3677368410846744e-55
1.6231646600897647e-31
1.0819989700722563e-116
6.674743967777859e-63
1.090999182858852e-16
9.229852687672197e-41
1.610818689434936e-45
1.0441404352653153e-49
2.4525205867435934e-15
9.92607442044569e-17
2.4796980590781412e-37
2.308201571467716e-30
4.798751067081382e-26
8.304220536947107e-85
2.6056134018934407e-28
4.9280346795537926e-48
1.2042850360619148e-31
5.676969963654724e-38
3.67220659128942e-104
2.131474699846814e-23
3.4529621997166713e-44
1.128941046225023e-100
1.391148103682756e-35
1.1163145010704898e-07
6.200620533440476e-20
3.2915957933241876e-24
2.3402885454363097e-47
1.4330478818749612e-42
3.694083923457238e-67
1.4715139903363697e-09
2.6265816287978407e-47
6.1501101700066045e-142
1.5530965114275364e-29
2.327796067439442e-136
3.959281286621723e-95
1.3388309609282342e-73
9.001692160079492e-47
2.056320216610472e-31
1.2639341794601617e-41
6.684268935048836e-17
8.451078074253487e-105
8.721069181389102e-62
3.9052176412789947e-54
7.165910715134553e-63
1.4050816243679326e-48
6.456765105108475e-23
3.91699754379156e-40
1.958090694770677e-20
3.249473042488928e-35
2.41334678130486e-16
1.7486602652034753e-25
6.860922675244331e-36
1.8393904400576957e-15
4.560526795461182e-98
1.1500478962449548e-59
1.245836321004297e-72
7.720303312069171e-08
9.678638225567826e-40
5.2285262090311545e-28
2.0895364148088462e-47
2.4377522488639934e-40
1.6485048010973938e-25
2.864686686449501e-17
7.039254595342759e-48
4.2545987347602584e-60
1.0237335609773609e-25
1.5958427795009637e-123
2.3794225809812885e-101
1.3787201266296572e-51
1.6061207326023897e-07
4.956920393932658e-38
1.498232656389044e-28
7.616219844488715e-26
1.34185084465367e-97
1.5799600437508063e-75
6.983282877549753e-52
2.737522682946803e-106
3.5987784206575945e-20
1.506471676980145e-23
2.5700873709451815e-36

In [28]:
test['Bayes'] = pd.Series(tweets_classificados)

In [29]:
test

,Teste,Real,Bayes
0,"@ai_cansado esmola da samsung, ainda n√£o t√¥ pr...",Irrelevante,Relevante
1,vsf essa propaganda da samsung com a juliettr\...,Irrelevante,Relevante
2,o bts ainda fez uma propaganda pra samsung no ...,Irrelevante,Relevante
3,aaaaaaaaaaaaa vem a√≠????? n√£o brinca com meu j...,Irrelevante,Irrelevante
4,"eu defendia a samsung, mas agr a juliette √© ga...",Irrelevante,Relevante
...,...,...,...
295,@mn_rcfx @djtheusdags imagina o psic√≥logico do...,Relevante,Relevante
296,mais de um m√™s sem acesso ao meu aplicativo de...,Irrelevante,Relevante
297,confira o v√≠deo de samsung brasil! #tiktok htt...,Relevante,Irrelevante
298,"hoje √© sexta, dia de travar mais que a samsung!",Irrelevante,Relevante
299,pensando aqui se vou de samsung s20 fe ou no m...,Neutro,Relevante

In [38]:
#Verificando taxa de verdadeiros positivos
tab_Vpos = test.loc[(test.Real=='Relevante') & (test.Bayes=='Relevante') ]
Vpos = 100*len(tab_Vpos)/len(test)
#Verificando taxa de verdadeiros negativos
tab_Vneg = test.loc[(test.Real=='Irrelevante') & (test.Bayes=='Irrelevante') ]
Vneg = 100*len(tab_Vneg)/len(test)
#Verificando taxa de falsos positivos
tab_Fpos = test.loc[(test.Real=='Irrelevante') & (test.Bayes=='Relevante') ]
Fpos = 100*len(tab_Fpos)/len(test)
#Verificando taxa de falsos negativos
tab_Fneg = test.loc[(test.Real=='Relevante') & (test.Bayes=='Irrelevante') ]
Fneg = 100*len(tab_Fneg)/len(test)
#Verificando probabilidade de tweets relevantes reais
relevante = test.loc[(test.Real=='Relevante')]
prob_rel = 100*len(relevante)/len(test)
prob_irrel = 100 - prob_rel
#Verificando probabilidade de tweets relevantes do classificador NB
relevante_b = test.loc[(test.Bayes=='Relevante')]
prob_rel_b = 100*len(relevante_b)/len(test)
prob_irrel_b = 100 - prob_irrel

In [39]:
Vpos + Vneg + Fpos + Fneg

73.66666666666666

In [32]:
print(f'A taxa de verdadeiros positivos foi {Vpos}%')
print(f'A taxa de verdadeiros negativos foi {Vneg}%')
print(f'A taxa de falsos positivos foi {Fpos}%')
print(f'A taxa de falsos negativos foi {Fneg}%')

A taxa de verdadeiros positivos foi 26.0%
A taxa de verdadeiros negativos foi 4.666666666666667%
A taxa de falsos positivos foi 38.666666666666664%
A taxa de falsos negativos foi 4.333333333333333%

In [33]:
print(f'A taxa de tweets classificados corretamente foi {Vpos+Vneg}%')
print(f'A taxa de tweets classificados incorretamente foi {Fpos+Fneg}%')

A taxa de tweets classificados corretamente foi 30.666666666666668%
A taxa de tweets classificados incorretamente foi 43.0%

In [34]:
print(f'A taxa de tweets classificados incorretamente na parte relevante era {Fpos+Vpos/prob_rel_b}%')

A taxa de tweets classificados incorretamente na parte relevante era 38.95238095238095%

___
### Concluindo

**Conclu√≠mos que o classificador apesar de n√£o ter tido uma efic√°cia t√£o alta, ele funciona corretamente. Para melhorar o seu rendimento √© nescess√°rio mais precis√£o na classifica√ß√£o manual, podemos dizer que a imprecis√£o do ser humano atrapalhou e confundiu o classificador e abaixou a sua efic√°cia.**

___
### Qualidade do Classificador a partir de novas separa√ß√µes dos tweets entre Treinamento e Teste

Caso for fazer esse item do Projeto

**O classificador em si √© funcional a partir do momento em que lhe s√£o entregues valores com precis√µes muito elevadas, sendo assim havendo a separa√ß√£o se permite ensinar ao classificador o que deve caber em cada classifica√ß√£o, por√©m ao mesmo tempo, a classifica√ß√£o ocorre de forma manual e como consequ√™ncia possui uma taxa de erro razoavelmente elevada, causando um ensinamento err√¥neo ao classificador**

___
## Aperfei√ßoamento:

Trabalhos que conseguirem pelo menos conceito B v√£o evoluir em conceito dependendo da quantidade de itens avan√ßados:

* IMPLEMENTOU outras limpezas e transforma√ß√µes que n√£o afetem a qualidade da informa√ß√£o contida nos tweets. Ex: stemming, lemmatization, stopwords
* CORRIGIU separa√ß√£o de espa√ßos entre palavras e emojis ou entre emojis e emojis
* CRIOU categorias intermedi√°rias de relev√¢ncia baseadas na probabilidade: ex.: muito relevante, relevante, neutro, irrelevante, muito irrelevante. Pelo menos quatro categorias, com adi√ß√£o de mais tweets na base, conforme enunciado. (OBRIGAT√ìRIO PARA TRIOS, sem contar como item avan√ßado)
* EXPLICOU porqu√™ n√£o pode usar o pr√≥prio classificador para gerar mais amostras de treinamento
* PROP√îS diferentes cen√°rios para Na√Øve Bayes fora do contexto do projeto
* SUGERIU e EXPLICOU melhorias reais com indica√ß√µes concretas de como implementar (indicar como fazer e indicar material de pesquisa)
* FEZ o item 6. Qualidade do Classificador a partir de novas separa√ß√µes dos tweets entre Treinamento e Teste descrito no enunciado do projeto (OBRIGAT√ìRIO para conceitos A ou A+)

___
## Refer√™ncias

[Naive Bayes and Text Classification](https://arxiv.org/pdf/1410.5329.pdf)  **Mais completo**

[A practical explanation of a Naive Bayes Classifier](https://monkeylearn.com/blog/practical-explanation-naive-bayes-classifier/) **Mais simples**